{% extends "base.html" %}
{%- import "macros/taxonomy.html" as tax_macros -%}

{%- block title -%}{{ taxonomy.name | title }} | {{ config.title }}{%- endblock -%}

{%- block main -%}
<div class="section-label">{{ taxonomy.name | lower }}</div>
<div class="taxonomy-list">
    {%- for term in terms %}
    {%- set page_count = [term.page_count ~ " post", term.page_count | pluralize] | join %}
    <div class="taxonomy-item">
        <a href="{{ term.permalink | safe }}">{{ tax_macros::prettify(term=term.name) }}</a>
        <span class="taxonomy-item__count">{{ page_count }}</span>
    </div>
    {%- endfor %}
</div>
{%- endblock -%}
