{% extends "base.html" %}
{%- import "macros/taxonomy.html" as tax_macros -%}

{%- block title -%}{{ term.name | title }} | {{ config.title }}{%- endblock -%}

{%- block feeds -%}
{%- if taxonomy.feed -%}
    {%- for filename in config.feed_filenames -%}
        {%- if taxonomy.name is ending_with("ies") -%}
            {%- set singular_name = taxonomy.name | replace(from="ies", to="y") -%}
        {%- else -%}
            {%- set singular_name = taxonomy.name | trim_end_matches(pat="s") -%}
        {%- endif -%}
        {%- set feed_title = config.title ~ " | Posts in '" ~ term.name ~ "' " ~ singular_name -%}
        {%- set feed_filename = taxonomy.name ~ "/" ~ term.name ~ "/" ~ filename -%}
        {{ feed_macros::link_alternate(filename=feed_filename, title=feed_title) }}
    {%- endfor -%}
{%- endif -%}
{%- endblock -%}

{%- block main -%}
<div class="section-label">{{ taxonomy.name | lower }}: {{ tax_macros::prettify(term=term.name) }}</div>
<div class="post-list">
    {%- for page in paginator.pages | default(value=term.pages) %}
    {{ post_macros::excerpt(page=page) }}
    {%- endfor %}
</div>
{%- if paginator and paginator.number_pagers > 1 %}
<nav class="pagination">
    <ul>
        {%- if paginator.previous %}
        <li><a rel="prev" href="{{ paginator.previous | safe }}">&lt; newer</a></li>
        {%- endif %}
        {%- if paginator.next %}
        <li><a rel="next" href="{{ paginator.next | safe }}">older &gt;</a></li>
        {%- endif %}
    </ul>
</nav>
{%- endif %}
{%- endblock -%}
